/* Styling for the top section */
.bg_atas {
    background-color: black;
    top: 0;
    left: 0;
    height: 361px;
    width: 100%;
    position: absolute;
}

.meetnmugatas {
    color: #FFFEFB;
    font-size: 28px;
    margin-top: 64px;
    margin-left: 177px;
    font-family: 'Poppins', sans-serif;
}

.home {
    color: #FFFEFB;
    font-size: 24px;
    margin-top: 57px;
    margin-left: 535px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.bm, .ba {
    color: #929292;
    font-size: 24px;
    margin-top: 57px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.bm {
    margin-left: 673px;
}

.ba {
    margin-left: 824px;
}

.fyc {
    color: #FFFEFB;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 104px;
    font-family: 'Poppins', sans-serif;
}

.temukanatas {
    color: #FFFEFB;
    font-size: 24px;
    margin-top: 7px;
    margin-left: 105px;
    font-family: 'Poppins', sans-serif;
}

.hi_elips {
    height: 44px;
    width: 172px;
    margin-top: 63px;
    margin-left: 1162px;
    border-radius: 40px;
    border-style: solid;
    border-color: #ffffff;
    position: absolute;
}

.hi_user {
    color: #FFFEFB;
    font-size: 20px;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 1199px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

/* Styling for the search form */
.formcaritengah {
    display: flex;
    align-items: center;
    height: 60px;
    width: 630px;
    margin-top: 418px;
    margin-left: 104px;
    border-radius: 50px;
    border-style: solid;
    border-color: #654520;
    position: absolute;
    background-color: #F7EFE6;
}

/* Search input */
.search-input {
    border: none;
    outline: none;
    margin-left: 39px;
    font-size: 16px;
    background-color: transparent;
    color: #6E6E6E;
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
}

/* Search button */
.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.border_icon {
    height: 304px;
    width: 442px;
    margin-top: 537px;
    margin-left: 110px;
    border-radius: 40px;
    border-style: solid;
    border-color: #654520;
    position: absolute;
    background-color: #F7EFE6;
    
}
.border_icon img {
    margin-top: 27px;
    margin-left: 71px;
}

.howday {
    margin-left: 610px;
    margin-top: 545px;
    color: #654520;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.howmood {
    margin-left: 110px;
    margin-top: 939px;
    color: #654520;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.tetengah {
    margin-left: 110px;
    margin-top: 1011px;
    color: #929292;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.ratehari {
    margin-left: 610px;
    margin-top: 617px;
    color: #929292;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}


.wdy {
    margin-left: 110px;
    margin-top: 1512px;
    color: #654520;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}

.kira {
    margin-left: 110px;
    margin-top: 1593px;
    color: #929292;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
}
.gambar_rapat {
    height: 338px;
    width: 314px;
    margin-left: 110px;
    margin-top: 1667px;
    align-items: center;
    position: absolute;
}

.gambar_belajar {
    height: 338px;
    width: 314px;
    margin-left: 486px;
    margin-top: 1667px;
    align-items: center;
    position: absolute;
}

.gambar_tim {
    height: 338px;
    width: 314px;
    margin-left: 862px;
    margin-top: 1667px;
    align-items: center;
    position: absolute;
}

.kotak_rapat {
    height: 56px;
    width: 219px;
    margin-left: 157.5px;
    margin-top: 1949px;
    background-color: #654520;
    position: absolute;
}

.kotak_belajar {
    height: 56px;
    width: 219px;
    margin-left: 533.5px;
    margin-top: 1949px;
    background-color: #654520;
    position: absolute;
}

.kotak_tim {
    height: 56px;
    width: 219px;
    margin-left: 909.5px;
    margin-top: 1949px;
    background-color: #654520;
    position: absolute;
}

.word_rapat {
    margin-left: 229.5px;
    margin-top: 1959px;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.word_belajar {
    margin-left: 599px;
    margin-top: 1959px;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.word_tim {
    margin-left: 946px;
    margin-top: 1959px;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.bg_bawah {
    background-color: #654520;
    margin-top: 2166px;
    height: 500px;
    width: 100%;
    position: absolute;
}

.meetnmugbawah {
    color: #FFFEFB;
    font-size: 30px;
    margin-top: 84px;
    margin-left: 104px;
    font-family: 'Poppins', sans-serif;
}

.temukanbawah {
    color: #FFFEFB;
    font-size: 20px;
    text-align: justify;
    margin-top: 14px;
    margin-left: 104px;
    font-family: 'Poppins', sans-serif;
}

.garis {
    border: 1px solid #FFFFFF;
    width: 85%;
    margin: 20px auto;
}

.copyright {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}