.bg {
    background-image: url("../assets/bg.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    /* Gambar akan menutupi seluruh layar */
    background-position: center;
    /* Gambar akan berada di tengah */
    height: 95vh;
    /* Mengatur tinggi body agar sebesar tinggi layar */
    
   

}
.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
    z-index: 0; /* Pseudo elemen akan berada di atas gambar */
}

.bg_login {
    background-color: #ffffff;
    height: 500px;
    /* panjang */
    width: 508px;
    /* lebar */
    position: absolute;
    top: 50%;
    /* Memposisikan elemen 50% dari atas layar */
    left: 50%;
    /* Memposisikan elemen 50% dari kiri layar */
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.textmid {
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.silahkan {
    color: #929292;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.form_username input {
    width: 428px;
    height: 66px;
    margin-left: 36px;
    box-sizing: border-box;
    border-radius: 10px ;
    border-width: 1px;
    font-size: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.label_usn {
    background-color: #ffffff;
    position: absolute;
    margin-left: 60px;
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
}

.label_pw {
    background-color: #ffffff;
    position: absolute;
    margin-left: 60px;
    margin-top: 26px;
    font-family: 'Poppins', sans-serif;
}

.form_password input {
    width: 428px;
    height: 66px;
    margin-left: 36px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.form_button {

    text-align: center;
    margin-top: 34px;
    font-family: 'Poppins', sans-serif;
}

.form_button button {
    width: 428px;
    height: 66px;
    background-color: #654520;
    /* Hijau default */
    color: white;
    /* Warna teks default */
    border: none;
    /* Menghilangkan border default */
    padding: 15px 158px;
    /* Spasi di dalam tombol */
    text-align: center;
    text-decoration: none;
    /* Menghilangkan garis bawah */
    display: inline-block;
    /* Menampilkan tombol secara inline */
    font-size: 18px;
    /* Ukuran teks */
    margin: 4px 2px;
    /* Spasi di sekitar tombol */
    cursor: pointer;
    /* Mengubah cursor menjadi pointer saat hover */
    border-radius: 10px;
    /* Sudut tumpul tombol */
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.form_button button:hover {
    background-color: #ffffff;
    color: black;
    border-width: 10px;
    border: 2px solid #654520;

    /* Warna tombol saat hover */
}

.tanya {
    color: #ffffff;
    position: absolute;
    margin-top: 650px;
    margin-left: 40%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
a{
    color: #ffffff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
