    .bg {
        background-image: url("../assets/bg.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 95vh;
    }
    .bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 0; 
    }

    .bg_regist {
        background-color: #ffffff;
        height: 595px;
        width: 508px;
        position: absolute;
       margin-top: 60px;
       margin-left: 550px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out;
    }

    .textmid {
        color: black;
        font-size: 35px;
        text-align: center;
        margin-top: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }

    .silahkan {
        color: #929292;
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
    }

    .form_username input {
        width: 428px;
        height: 66px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px ;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .label_usn {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_pw {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 29px;
        font-family: 'Poppins', sans-serif;
    }

    .label_konfpw {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 29px;
        font-family: 'Poppins', sans-serif;
    }

    .form_password input {
        width: 428px;
        height: 66px;
        margin-left: 36px;
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_konfirmasi_password input {
        width: 428px;
        height: 66px;
        margin-left: 36px;
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_button {

        text-align: center;
        margin-top: 34px;
        font-family: 'Poppins', sans-serif;
    }

    .form_button button {
        width: 428px;
        height: 66px;
        background-color: #654520;
        color: white;
        border: none;
        padding: 15px 158px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }

    .form_button button:hover {
        background-color: #ffffff;
        color: black;
        border-width: 10px;
        border: 2px solid #654520;
    }

    .tanya {
        color: #ffffff;
        position: absolute;
        margin-top: 680px;
        margin-left: 41%;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    a{
        color: #ffffff;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    .bg_regist.show {
        opacity: 1;
        transform: translateY(0);
    }
    