    .bg {
        background-image: url("../assets/bg.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 95vh;
    }
    .bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 0; 
    }

    .bg_regist {
        background-color: #ffffff;
        height: 595px;
        width: 508px;
        position: absolute;
       margin-top: 60px;
       margin-left: 550px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out;
    }

    .textmid {
        color: black;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }

    .silahkan {
        color: #929292;
        font-size: 13px;
        text-align: center;
        margin-top: 3px;
        font-family: 'Poppins', sans-serif;
    }

    .form_fullname input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px ;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_username input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px ;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_email input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px ;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_phone input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px ;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_password input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .form_konfirmasi_password input {
        width: 428px;
        height: 20px;
        margin-left: 36px;
        box-sizing: border-box;
        border-radius: 10px;
        border-width: 1px;
        font-size: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .label_fn {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_usn {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_email {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_phone {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_pw {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .label_konfpw {
        background-color: #ffffff;
        position: absolute;
        margin-left: 60px;
        margin-top: 9px;
        font-family: 'Poppins', sans-serif;
    }

    .profile-picture {
        text-align: center;
        margin-bottom: 5px;
    }

    .profile-picture img {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #f7efe6;
        border: 2px solid #cbba9f;
    }

    .edit-button, .upload-button, .delete-button, .save-button, .cancel-button {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #8b5e34;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .edit-button:hover, .upload-button:hover, .delete-button:hover, .save-button:hover, .cancel-button:hover {
        background-color: #734a27;
    }
    
    .upload-button {
        display: inline-block;
        margin-right: 10px;
    }

    .form_button {
        text-align: center;
        margin-top: 34px;
        font-family: 'Poppins', sans-serif;
    }

    .form_button button {
        width: 428px;
        height: 66px;
        background-color: #654520;
        color: white;
        border: none;
        padding: 15px 158px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }

    .form_button button:hover {
        background-color: #ffffff;
        color: black;
        border-width: 10px;
        border: 2px solid #654520;
    }

    .tanya {
        color: #ffffff;
        position: absolute;
        margin-top: 680px;
        margin-left: 41%;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    a{
        color: #ffffff;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    .bg_regist.show {
        opacity: 1;
        transform: translateY(0);
    }
     .profile-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #uploadButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .circle-placeholder {
        width: 80px;
        height: 80px;
        background-color: #ccc; 
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #bbb; 
    }

    .circle-placeholder img {
        width: 100%;
        height: 100%;
        border-radius: 50%; 
        object-fit: cover; 
        display: none; 
    }